<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
            href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>사용자 목록</h2>
    </div>

    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>회원 ID</th>
                <th>회원 이름</th>
                <th>회원 전화번호</th>
                <th>회원 배송 물품 입력</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td><a href="userInfo.html" th:href="@{/{userId}/parcels(userId=${user.userId})}" th:text="${user.userId}">회원 ID</a></td>
                <td th:text="${user.name}">회원 이름</td>
                <td th:text="${user.phoneNumber}">전화번호</td>
                <td>
                    <button class="btn btn-primary float"
                            onclick="location.href='inputParcel.html'"
                            th:onclick="|location.href='@{/parcel/{userId}/assign(userId=${user.userId})}'|"
                            type="button">배송 물품 정보 입력
                    </button>
                </td>
            </tr>

            </tbody>
        </table>
    </div>

</div> <!-- /container -->

</body>
</html>